
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
    - Normalize
    - Box sizing
    - Media width
# Base
    - Typography
    - Elements
    - Links
# Components
    - Header
    - Main
    - Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Open+Sans:wght@600;700&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --border-radius: 12px;
}

/* Typography
--------------------------------------------- */
html {
	box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    margin: 0;
    font-family:'Montserrat Alternates', sans-serif, 'Uncial Antiqua', cursive;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #282828;
    background-color:#F2E8DF;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0
}

h1{
	margin-bottom: 1rem;
    color: #123838;
}
h2{
    color:#183f50 ;
}

h3 {
	margin-bottom: 30px;
	
}

h1, p {
	margin-bottom: 30px;
}

h6 {

    color: #F28585;

}

p {
    margin: 0 0 1.5em;
    font-size: 15px;
}

@media (min-width: 768px) {
    .site-wrapper {
        margin: 2rem 4rem;
    }

    .preview-image {
        max-width: 400px;
    }
}
/* Elements
--------------------------------------------- */
section,
aside {
    padding: 0 1rem;
}


/* Links
--------------------------------------------- */

a {
	text-decoration: none;
}
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
.site-wrapper {
    /* This is for very large screens */
    max-width: 60rem;
    margin: 0 auto;
    margin-top: 75px;
}
/* Header
--------------------------------------------- */
.site-header {
    height: 72px;
    z-index: 99999999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2e8df;
    margin-bottom: 1rem;
}
.site-header img {
    width: 80px;
}






.menu-toggle {
    display: block;
    background-color: transparent;
    border: 0;
    padding: 1rem;
}

.menu-toggle:focus {
    border: 0;
    outline: 1px dotted;
}

@media (min-width: 768px) {
    #menu__toggle, .menu__btn {
        display: none;
    }

    /* Circle behind */
    ul.circleBehind a:before, ul.circleBehind a:after
    {
        position: absolute;
        top: 36px;
        left: 50%;
        width: 50px;
        height: 50px;
        border: 4px solid #f4b1b1;
        transform: translateX(-50%) translateY(-50%) scale(0.8);
        border-radius: 50%;
        background: transparent;
        content: "";
        opacity: 0;
        transition: all 0.3s;
        z-index: -1;
    }
    ul.circleBehind a {
        position: relative;
    }
    ul.circleBehind a:after
    {
        border-width: 2px;
        transition: all 0.4s;
    }

    ul.circleBehind a:hover:before
    {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
    }

    ul.circleBehind a:hover:after
    {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1.3);
    }


    .top-ul {
        flex: 1 1 auto;
        padding: 0 1rem;
    }

    .top-ul ul {
        display: flex;
        justify-content: flex-end;
        top: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        left: 0;
        right: 0;
        z-index: 2;
        
    }

    .top-ul a {
        line-height: 4.5rem; /* Matches the height of the .site-header */
        padding: 0 1rem;
        display: block;
        font-size: 1.25rem;
        text-decoration: none;
        color: #0c4040;
    }

}

@media (min-width: 768px) {

    .banner h1 {
        font-size: 4rem; 
    }
}


    /* Main
--------------------------------------------- */
/* section: banner*/
#intro-section {
    min-height: calc(100vh - 120px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#intro-section .show-more {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
#intro-section .show-more i {
    color: #F28585;
}
.summary{
    font-size: 25px;
}

.banner {
    display: flex;
    justify-content: center;
}
.banner h1 {
    padding: 0;
    margin: 0;
}

.banner .intro {
    margin-right: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.banner .avatar {
    background-color:#c4320a7c;;
    border-radius: 125px;
}
.banner .avatar img {
    width: 250px;
    height: 250px;
}


.about-container {
    display: flex;
    flex-direction: row;
}
.about-container > div:nth-child(1) {
    flex: 3;
}
.about-container > div:nth-child(2) {
    margin-left: 50px;
    flex: 1;
}

/* section: projects*/


/* Section: About */
/* Footer
--------------------------------------------- */

.site-footer {
    background-color: #f7bab99f;

}
.tools{
    align-items: center;
    margin-bottom: 52px;
}
.tools-list {
    margin-top: 25px;
}

.tools-wrap{
    text-align: center;
}
.tools-wrap .tools-section div {
    display: inline-flex;
    border: 0.5px solid #f2858546;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px ;
}
.tools-wrap h5 {
    color:#6D8FB5;
}


/* PROJECTS */
.projects-container img {
    width: 100%;
    height: 100%;
}

.project {
    position: relative;
}
.project img {
    border-radius: var(--border-radius);
}
.project:hover {
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)), 
}
.project:hover .project-details {
    display: flex;
    flex-direction: column;
}
.project .project-details h3,
.project .project-details p {
    font-weight: bold;
}
.project .project-details a {
    border-radius: var(--border-radius);
    background-color: #F28585;
    padding: 8px 14px;
    color: white;
}

.project .project-details a:hover {
    background-color: #ee7676;
}

.project .project-details a:active {
    background-color: #ec6f6f;
}

.project .project-details {
    display: none;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: var(--border-radius);
    top: 0;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 0;
    
}
#footer .contact-inforation {
    padding: 80px;
}
#footer .contact-inforation h2 {
    margin-bottom: 22.5px;
}
#footer .social-icons {
    display: flex;
    padding: 0;
    justify-content: center;
}

#footer .social-icons a:hover img {
    margin-top: -6px;
}

#footer .social-icons li {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
}

#footer .foot-note {
    margin-bottom: 2px;
}

#my-projects h2, #about h2, .tools h2 {
    padding-top: 70px;
    text-align: center;
    color: #BC4A24;
}

.about-button-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.about-button-container span {
    margin-right: 10px;
    color: #6D8FB5;
}
.about-button-container button {
    border: none;
    outline: none;
    border-radius: 8px;
    margin-right: 15px;
    width: 16px;
    height: 16px;
    color: #333;
    background: #fff;
    
    box-shadow: 0 3px 20px 0 #0000003b;
    
}

.about-button-container button:hover{
    cursor: pointer;
}

.about-button-container button.active {
    background-color: #962506;
}

.about-button-container span {
    color: #962506;
}

.chevron-left {
    fill: #F28585;
    margin: auto;
    width: 1.4em;
    height: 1.4em;
    transform: rotate(90deg);
}

.chevron-down {
  fill: #F28585;
  margin: auto;
  width: 1.4em;
  height: 1.4em;
  animation: hover-me .5s infinite ease-in-out alternate; 
}

.chevron-up {
    fill: #F28585;
    position: fixed;
    right: 26px;
    bottom: 26px;
    width: 1.4em;
    height: 1.4em;
    transform: scaleY(-1);
}

@keyframes hover-me {
  100% { transform: translate3d(0, 25px, 0); }
}

html {
  scroll-behavior: smooth;
}

.site-main .intro-more-link:hover {
  background-color: transparent;
}



/* PROJECT DETAILS */

:root {
  --nav-base-color: #fac1c1
}
.navs {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--nav-base-color);
  --bs-nav-link-hover-color: red;
  --bs-nav-link-disabled-color: #6c757d;
}
.nav-tabs {
  --bs-nav-tabs-border-width: 1px;
  --bs-nav-tabs-border-color: var(--nav-base-color);
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
  --bs-nav-tabs-link-active-color: white;
  --bs-nav-tabs-link-active-bg: var(--nav-base-color);
  --bs-nav-tabs-link-active-border-color: var(--nav-base-color);
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: #282828;
  text-decoration: none;
}
.nav-link:hover {
  color: var(--nav-base-color);
}
.nav-tabs .nav-link:hover {
  border-bottom-color: var(--nav-base-color);
}

.tab-pane {
  margin-top: 30px;
}


.project-title .tab-content ul {
    list-style-type: circle;
    font-size: 15px;
    padding-left: 40px;
}

.preview-image-link {
    cursor: zoom-in;
}

.project-links {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.project-links a {
    margin-right: 10px;
    margin-left: 10px;
    min-width: 120px;
    text-align: center;

    border-radius: var(--border-radius);
    background-color: #5a5a5a;
    padding: 8px 14px;
    color: white;
}

.project-links a:hover {
    background-color: #3d3d3d;
}

.project-links a:active {
    background-color: #1e1e1e;
}

.project-title {
    margin-top: 50px;
    margin-bottom: 30px;
    
}

.project-title h1,
.project-title h4 {
    text-align: center;
    color: #BF3309;
    padding-bottom: 10px;
}
.project-title h5 {
    color: #035AA6;
}

section .nav.nav-tabs {
    justify-content: center;
}

.project-title h1 {
    text-align: center;
}
.project-description {
    text-align: center;
}

.project-image-container {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 768px) {
    .banner { 
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner .avatar {
        border-radius: 100px;
        width: 200px;
        height: 200px;
    }
    .banner .avatar img {
        width: 200px;
        height: 200px;
    }

    .summary {
        font-size: 20px;
    }
    #intro-section {
        justify-content: flex-start;
        padding: 20px 40px;
    }
    .intro h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    .about-container {
        flex-direction: column;
    }
    .about-container > div:nth-child(2) {
        margin-left: 0;
        flex: 1 1;
    }
}
@media (max-width: 767px) {
/* HAMBUERGER MENU */
    .top-ul {
        position: relative;
    }
    #menu__toggle {
        opacity: 0;
    }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    position: absolute;
    top: 14px;
    right: 10px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 99999;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #f2d9df;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 9999;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #0c4040;
    font-size: 20px;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
}

.modal.show {
    margin-top: 75px;
}

.project-tabs h5 {
    margin-top: 15px;
}